.wrapper {
  height: 100vh;
  width: 100vw
}
.accordion {
  color: white;
}

.item {
  background-color: green;
  font-size: 1.5em;
  font-family: "Raleway", "Times New Roman";
  margin: 0 auto;
  padding-bottom: 1vh;
  width: 50vw;
  border: 1em dotted beige 
}

.content {
  font-size: 1.2em;
  font-family:  "Raleway", "Times New Roman";
  font-weight: 700;
}
