.wrapper {
}
.accordion {
  color: white;
}

.item {
  background-color: green;
  font: 1.5em Raleway;
  /* height: 5em; */
  padding-bottom: 1em;
  width: 10vw;;
}

.content {
  font: 1.5em bold Raleway;
}
